@use '_generics' as *;

// ams => AI Mail Support
#amsOuterRequest {
    top: 10px;
    //display: none;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 80%;
    z-index: 9999;

    &.show {
        // The use of !important is necessary to override any generic .show
        // styles that might interfere with the display.
        display: block !important;
    }
}

// Style for the shadow DOM
#amsInnerRequest {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(black, .5);
    color: black;
    font-size: 14px;
    margin-right: 60px;
    max-height: 50vh;
    overflow-y: auto;
    padding: 15px;
    position: relative;

    textarea {
        background-color: transparent;
        border: none;
        color: #1f1f1f;
        line-height: 1.5;
        margin: 0;
        max-height: 200px;
        outline: none;
        overflow-y: auto;
        padding: 5px 0;
        resize: none;
        width: 100%;

        &::placeholder {
            color: #5f6368;
            opacity: 1;
        }
    }

    button {
        background-color: #a7c4e3;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        height: 40px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;

        svg {
            fill: #ffffff;
            height: 20px;
            width: 20px;
        }
    }
}