@use '_generics' as *;
@use "sass:color";

// ams => AI Mail Support
#amsOuterRequest {
    top: 10px;
    //display: none;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 80%;
    z-index: 9999;

    &.show {
        // The use of !important is necessary to override any generic .show
        // styles that might interfere with the display.
        display: block !important;
    }
}

// Style for the shadow DOM
#amsInnerRequest {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(black, .5);
    color: black;
    font-size: 14px;
    margin-right: 60px;
    max-height: 50vh;
    overflow-y: auto;
    padding: 15px;
    position: relative;

    textarea {
        background-color: transparent;
        border: none;
        color: #1f1f1f;
        line-height: 1.5;
        margin: 0;
        max-height: 200px;
        outline: none;
        overflow-y: auto;
        padding: 5px 0;
        resize: none;
        width: calc(100% - 60px);

        &::placeholder {
            color: #5f6368;
        }
    }

    button {
        background-color: #f0f4f9;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        display: none;
        height: 40px;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .4s ease;
        width: 40px;

        &:hover {
            background-color: color.adjust(#f0f4f9, $lightness: -8%)
        }

        &.show {
            display: block;
        }

        svg {
            fill: #1b1c1d;
            height: 20px;
            width: 20px;
        }
    }

    .close-icon {
        right: 10px;
        top: 0;
    }
}