<fieldset id="xai">
    <legend>SpaceXAI Grok:</legend>

    <div class="form-group">
        <label for="xaiApiKey" data-l10n-ref="options.xai.apiKey">&nbsp;</label>
        <input id="xaiApiKey" is="password-toggle" data-required>
        <div class="description" data-l10n-ref="options.xai.apiKey.description"></div>
    </div>

    <!-- https://docs.x.ai/docs/models -->
    <div class="form-group">
        <label for="xaiModel" data-l10n-ref="options.xai.model">&nbsp;</label>
        <select id="xaiModel" data-required>
            <option value="grok-4.6">Grok 4.6</option>
            <option value="grok-4.5">Grok 4.5</option>
            <option selected value="grok-4.3">Grok 4.3</option>
        </select>
    </div>
</fieldset>