<fieldset id="mistral">
    <legend>Mistral AI:</legend>

    <div class="form-group">
        <label for="mistralApiKey" data-l10n-ref="options.mistral.apiKey">&nbsp;</label>
        <input id="mistralApiKey" is="password-toggle" data-required>
        <div class="description" data-l10n-ref="options.mistral.apiKey.description"></div>
    </div>

    <!-- https://docs.mistral.ai/models -->
    <div class="form-group">
        <label for="mistralModel" data-l10n-ref="options.mistral.model">&nbsp;</label>
        <select id="mistralModel" data-required>
            <option value="mistral-large-latest">Mistral Large</option>
            <option selected value="mistral-medium-latest">Mistral Medium</option>
            <option value="mistral-small-latest">Mistral Small</option>
        </select>
    </div>
</fieldset>