<fieldset id="xai">
    <legend>xAI Grok:</legend>

    <div class="form-group">
        <label for="xaiApiKey" data-l10n-ref="options.xai.apiKey">&nbsp;</label>
        <input id="xaiApiKey" is="password-toggle" data-required>
        <div class="description" data-l10n-ref="options.xai.apiKey.description"></div>
    </div>

    <!-- https://docs.x.ai/docs/models -->
    <div class="form-group">
        <label for="xaiModel" data-l10n-ref="options.xai.model">&nbsp;</label>
        <select id="xaiModel" data-required>
            <option value="grok-4.3-latest">Grok 4.3</option>
            <option value="grok-4.20-reasoning-latest">Grok 4.20 (Reasoning)</option>
            <option selected value="grok-4.20-non-reasoning-latest">Grok 4.20 (Non-Reasoning)</option>
        </select>
    </div>
</fieldset>